@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
body {
  margin: 0;
  padding: 0;
}

body header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  body header {
    background-position: 50% top;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

body header .header-nav nav {
  z-index: 1;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

body header .header-nav nav .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 1.2em;
}

body header .header-nav nav .navbar-nav .nav-link:hover {
  color: black;
  background-color: #c9ccd3;
}

body header .header-body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .header-body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 5.5em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  body header .header-body h1 {
    font-size: 2.5em;
  }
}

body section#about {
  min-height: 600px;
}

body section#about .about-header h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-family: "Fjalla One", sans-serif;
}

@media (max-width: 768px) {
  body section#about .about-header h1 {
    font-size: 4em;
    word-wrap: break-word;
  }
}

body section#about .about-header h4 {
  text-transform: uppercase;
}

body section#about .about-body {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  body section#about .about-body {
    margin-top: 8rem;
  }
}

body section#about .about-body p.typography-subheading {
  letter-spacing: 2px;
}

body section#about .about-body .about-body-social .about-body-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body section#about .about-body .about-body-social .about-body-social-list li a {
  margin: 0px 5px;
  font-size: 5rem;
}

body section#about .about-body .about-body-social .about-body-social-list li a i.fa-linkedin {
  color: #d1d1d1;
  -webkit-transition: red 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

body section#about .about-body .about-body-social .about-body-social-list li a i.fa-linkedin:hover {
  color: #006deb;
  -webkit-transition: red 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

body section#about .about-body .about-body-social .about-body-social-list li a i.fa-github-square {
  color: #d1d1d1;
  -webkit-transition: red 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

body section#about .about-body .about-body-social .about-body-social-list li a i.fa-github-square:hover {
  color: #b60000;
  -webkit-transition: red 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

body section#technologies .technologies-header .header-title h1 {
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
}

@media (max-width: 768px) {
  body section#technologies .technologies-header .header-title h1 {
    font-size: 3em;
    word-wrap: break-word;
  }
}

body section#technologies .technologies-header .header-title h4 {
  text-transform: uppercase;
}

body section#technologies .technologies-body .technologies-bar {
  text-align: center;
}

body section#technologies .technologies-body .technologies-bar i {
  font-size: 4em;
}

body section#technologies .technologies-body .technologies-bar h1 {
  font-family: Raleway;
}

@media (max-width: 768px) {
  body section#technologies .technologies-body .technologies-bar h1 {
    font-size: 2em;
  }
}

body .divider {
  min-height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body section#portfolio {
    background-color: white !important;
  }
}

body section#portfolio .portfolio-header .header-title h1 {
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
}

@media (max-width: 768px) {
  body section#portfolio .portfolio-header .header-title h1 {
    font-size: 3em;
    word-wrap: break-word;
  }
}

body section#portfolio .portfolio-header .header-title h4 {
  text-transform: uppercase;
}

body section#portfolio .portfolio-body .portfolio-thumbnail img.coinmaster {
  -webkit-animation: mover 1.2s infinite alternate;
  animation: mover 1.2s infinite alternate;
}

body section#portfolio .portfolio-body .portfolio-thumbnail img.coinmaster {
  -webkit-animation: mover 1.2s infinite alternate;
  animation: mover 1.2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media (max-width: 760px) {
  body section#portfolio .portfolio-body .portfolio-description {
    margin-top: 2em;
    text-align: center;
  }
}

body section#portfolio .portfolio-body .portfolio-description h1 span {
  font-size: 50%;
}

body .no-js #loader {
  display: none;
}

body .js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

body .preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/Preloader_3.gif) center no-repeat #fff;
}
/*# sourceMappingURL=style.css.map */