//Imports
@import "scroll";
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

$title-font: "Fjalla One", sans-serif;

body {
  margin: 0;
  padding: 0;
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
      url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 767px) {
      background-position: 50% top;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }

    .header-nav {
      nav {
        z-index: 1;
        position: fixed; /* Make it stick/fixed */
        top: 0; /* Stay on top */
        width: 100%; /* Full width */

        transition: top 0.3s; /* Transition effect when sliding down (and up) */
        .navbar-nav {
          .nav-link {
            text-transform: uppercase;
            font-size: 1.2em;
            &:hover {
              color: black;
              background-color: #c9ccd3;
            }
          }
        }
      }
    }
    .header-body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        @media (max-width: 768px) {
          font-size: 2.5em;
        }
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 5.5em;
        background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  section#about {
    min-height: 600px;
    .about-header {
      h1 {
        @media (max-width: 768px) {
          font-size: 4em;
          word-wrap: break-word;
        }
        text-transform: uppercase;
        font-size: 4em;
        font-family: $title-font;
      }
    }
    .about-body {
      @media (min-width: 768px) {
        margin-top: 8rem;
      }
      margin-top: 3rem;
      p.typography-subheading {
        letter-spacing: 2px;
      }
      img {
      }
      .about-body-social {
        .about-body-social-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          li a {
            margin: 0px 5px;
            font-size: 5rem;
            i.fa-linkedin {
              color: rgb(209, 209, 209);
              -webkit-transition: red 0.5s ease-out;
              -moz-transition: red 0.5s ease-out;
              -o-transition: red 0.5s ease-out;
              transition: color 0.5s ease-out;
              &:hover {
                color: rgb(0, 109, 235);
                -webkit-transition: red 0.5s ease-in;
                -moz-transition: red 0.5s ease-in;
                -o-transition: red 0.5s ease-in;
                transition: color 0.5s ease-in;
              }
            }
            i.fa-github-square {
              color: rgb(209, 209, 209);
              -webkit-transition: red 0.5s ease-out;
              -moz-transition: red 0.5s ease-out;
              -o-transition: red 0.5s ease-out;
              transition: color 0.5s ease-out;
              &:hover {
                color: rgb(182, 0, 0);
                -webkit-transition: red 0.5s ease-in;
                -moz-transition: red 0.5s ease-in;
                -o-transition: red 0.5s ease-in;
                transition: color 0.5s ease-in;
              }
            }
          }
        }
      }
    }
  }
  section#technologies {
    .technologies-header {
      .header-title {
        h1 {
          @media (max-width: 768px) {
            font-size: 3em;
            word-wrap: break-word;
          }
          text-transform: uppercase;
          font-family: $title-font;
          font-size: 4rem;
        }
      }
    }
    .technologies-body {
      .technologies-bar {
        text-align: center;
        i {
          font-size: 4em;
        }
        h1 {
          font-family: Raleway;
        }
        @media (max-width: 768px) {
          h1 {
            font-size: 2em;
          }
        }
      }
    }
  }
  .divider {
    min-height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
      url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 767px) {
      background-position: 50% top;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
  }
  section#portfolio {
    .portfolio-header {
      .header-title {
        h1 {
          @media (max-width: 768px) {
            font-size: 3em;
            word-wrap: break-word;
          }
          text-transform: uppercase;
          font-family: $title-font;
          font-size: 4rem;
        }
      }
    }
    .portfolio-body {
      .portfolio-thumbnail {
        img.coinmaster {
          -webkit-animation: mover 1.2s infinite alternate;
          animation: mover 1.2s infinite alternate;
        }
        img.coinmaster {
          -webkit-animation: mover 1.2s infinite alternate;
          animation: mover 1.2s infinite alternate;
        }
        @-webkit-keyframes mover {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-20px);
          }
        }
        @keyframes mover {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-20px);
          }
        }
      }
      .portfolio-description {
        @media (max-width: 760px) {
          margin-top: 2em;
          text-align: center;
        }
      }
    }
  }
}
