@import "scroll";

body {
  header {
    background-image: url("https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    .header-nav {

      nav {
        position: fixed; /* Make it stick/fixed */
        top: 0; /* Stay on top */
        width: 100%; /* Full width */
        transition: top 0.3s; /* Transition effect when sliding down (and up) */
        .navbar-nav {
          .nav-link {
            text-transform: capitalize;
            font-size: 1.2em;
          }
        }
      }
    }
    .header-body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 5.5em;
        background: #fffc00; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ffffff,
          #fffc00
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #ffffff,
          #fffc00
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  section#about {
    background-image: url("https://images.unsplash.com/photo-1528921581519-52b9d779df2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1493&q=80");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    .about-header {
    }
    .about-body {
      margin-top: 8rem;
      p.typography-subheading {
        letter-spacing: 2px;
      }
      .about-body-social {
        .about-body-social-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          li a {
            color: rgb(209, 209, 209);
            margin: 0px 5px;
            font-size: 5rem;
            i.fa-linkedin:hover {
              color: rgb(0, 109, 235);
              -webkit-transition: red 0.5s ease-out;
              -moz-transition: red 0.5s ease-out;
              -o-transition: red 0.5s ease-out;
              transition: color 0.5s ease-out;
            }
            i.fa-github-square:hover {
              color: rgb(182, 0, 0);
              -webkit-transition: red 0.5s ease-out;
              -moz-transition: red 0.5s ease-out;
              -o-transition: red 0.5s ease-out;
              transition: color 0.5s ease-out;
            }
          }
        }
      }
    }
  }
}
